@{
    ViewData["Title"] = "Tere tulemast peole!";
}

<div class="jumbotron">
    <h1 id="text"> @ViewBag.Greeting ,palju õnne @ViewBag.Greeting2 kallis sober!</h1>
</div>
<style>
    #text {
        color : black;
    }
</style>
<div>
    <br />
    @ViewBag.Message
    <img height="350" width="350" src="~/Images/kutse.png"/>
    <br />
    <h4>Ootan sind minu peole! Palun tule!</h4>
</div>
<div>
    @Html.ActionLink("Vastan", "Ankeet", "Ankeet", new { @class = "btn btn-primary" })
</div>